// 头部样式
$btn-color: #fff;
$app-header-height: 88px;

// 搜索框样式
$search-font-color: #fff;

// 轮播图样式
$dotsBgColor: rgba(144, 144, 144, .8);
$dotActiveBgColor-color: #fff;

// tabRouter
$IconColor: rgba(49, 194, 124, 0.95);
$textColor: #fff;

// 菜单列表颜色
$list-title: #fff;

$icon-fanhui1-copy: #fff;

// 歌曲列表颜色
$name-color: #fff;