<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="utf-8">
    <title>火影音乐</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="description" content="火影音乐" />
    <meta name="keywords" content="火影音乐">
    <!-- AddHomehome screen for Android and modern mobile browsers -->
    <link rel="manifest" href="/static/manifest.json">
    <!--<meta name="theme-color" content="#2874f0">-->
    <!-- AddHomehome screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="QQ音乐">
    <link rel="apple-touch-icon" href="/static/img/icons/apple-touch-icon-152x152.png">
    <!-- AddHomehome screen for Windows -->
    <meta name="msapplication-TileImage" content="/static/img/icons/msapplication-icon-144x144.png">
    <meta name="msapplication-TileColor" content="#000000">
    <% for (var jsFilePath of htmlWebpackPlugin.files.js) { %>
    <link rel="preload" href="<%= jsFilePath %>" as="script">
    <% } %>
    <% for (var cssFilePath of htmlWebpackPlugin.files.css) { %>
    <link rel="preload" href="<%= cssFilePath %>" as="style">
    <% } %>
    <link href="/static/css/reset.css" rel="stylesheet">
    <link href="//at.alicdn.com/t/font_485958_56ia3n03ag0c0udi.css" rel="stylesheet">
    <script src="/static/js/amfe-flexible.min.js"></script>
</head>
<body>
<div id="app"></div>
<!-- built files will be auto injected -->
</body>
</html>
