$app-header-height = 52px
$app-footer-height = 56px

// app-sidebar 相关配置
$app-sidebar-title-height = 75px
$app-sidebar-nav-height = 45px
$app-sidebar-width = 75
$app-sidebar-left-icon-size = 20

// app-mask 相关配置
$app-mask-bgcolor = #000
$app-mask-opacity = 0.5
$app-mask-zindex = 999
$app-mask-duration = .5s
