$app-header-height = 52px
$app-footer-height = 56px

// app-sidebar 相关配置
$app-sidebar-title-height = 75px
$app-sidebar-nav-height = 45px
$app-sidebar-width = 75
$app-sidebar-left-icon-size = 20

// app-mask 相关配置
$app-mask-bgcolor = #000
$app-mask-opacity = 0.5
$app-mask-zindex = 999
$app-mask-duration = .5s


//字体图标
@font-face
  font-family "Material Icons"
  font-style normal
  font-weight 400
  src local("Material Icons"),
local("MaterialIcons-Regular"),
url(/static/fonts/MaterialIcons-Regular.woff) format('woff'),
url(/static/fonts/MaterialIcons-Regular.ttf) format('truetype')

.material-icons
  display inline-block
  font normal normal 24px/24px "Material Icons"
  text-transform none
  letter-spacing normal
  word-wrap normal
  white-space nowrap
  direction ltr

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing antialiased
  /* Support for Safari and Chrome. */
  text-rendering optimizeLegibility

  /* Support for Firefox. */
  -moz-osx-font-smoothing grayscale

  /* Support for IE. */
  font-feature-settings "liga"
